<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GUI =)</title>
</head>
<body>
</body>
<script type="module">
    import {Alarm, SendJsonReqToApiForm, createNewTableRowForm, Table} from "/components/components.js"
    let alarmDiv = new Alarm();
    alarmDiv.render();
    let sendTestReqFormDiv = new SendJsonReqToApiForm(alarmDiv);
    sendTestReqFormDiv.render();
    let createNewTableRowFormDiv  = new createNewTableRowForm(alarmDiv, null)
    createNewTableRowFormDiv.render()
    let tableDiv = new Table(alarmDiv, ["Schema ID", "Schema Name", "Schema Value", "", ""]);
    tableDiv.render();
    createNewTableRowFormDiv.table = tableDiv;
</script>
</html>